<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../public/css/styles.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a3140349ef.js" crossorigin="anonymous"></script>
        <!--titulo-->
        <title>Practica integradora</title>
    </head>
    <body>
            <header id="logotipo">
                <!--Logotipo-->
                <img src="../public/images/logo-mercado-liebre.svg" width="400px" height="150px">

                <!--Barra de busqueda-->
                <form  class="form" method="get" action="#"> 
                    <input type="search" name="q" placeholder="buscar productos, marcas y más">
                    <div>
                    <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>

                <br>

                <div class="compraencuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
                </div>
                <br>

                    <ul>
                        <li><a href="#ofertas">ofertas</a></li>
                        <li><a href="#Tiendas oficiales">Tiendas oficiales</a></li>
                        <li><a href="#vender">Vender</a></li>
                        <li><a href="#Ayuda">Ayuda</a></li>
                    </ul>
                
                <br>
                
                    <ul>
                        <li><a href="#Crea tu cuenta">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                        <li><a href="#Ingresa">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                        <li><a href="#Mis compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
               
                    <div class="barras"><i class="fa-solid fa-bars"></i></div>

            </header>
            <br>
            <br>
            <main>
                <article>
                
                        <ul class="ul">
                            <li><p><h1>Basado en tu ultima visita</h1></p></li>
                        </ul>
                    <br>
                    <section>
                        <div class="imagen"><img src="../public/images/img-cafetera-moulinex.jpg"></div>
                        <p class="img">imagen de cafetera</p>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descr"><h3> Cafetera Moulinex</h3></p>
                    </section>
                    <section>
                        <div class="imagen"><img src="../public/images/img-macbook-pro-2019.jpg"></div>
                        <p class="img">imagen de Macbook</p>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descr"><h3>Macbook Pro 2019</h3></p>
                    </section>
                    <section>
                        <div class="imagen"><img src="../public/images/img-tv-samsung-smart.jpg"></div></div>
                        <p class="img">imagen de SmartTv</p>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descr"><h3>SmartTv Samsung 43</h3></p>
                    </section>
                    <section>
                        <div class="imagen"><img src="../public/images/img-samsung-galaxy-s10.jpg"></div>
                        <p class="img">imagen de Samsumg Galaxy</p>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descr"><h3>Samsung Galaxy S10</h3></p>
                    </section>
                </article>
            </main>
            <br>
            <footer>
                <article>
                    <section>
                        <div class="iconos" id="pago"><i class="fa-solid fa-credit-card"></i></div>
                        <!--texto 1-->
                        <h2>Paga con tarjeta en efectivo</h2>
                        <p>Con Mercado Libre Cash, tenes cuotas sin interes con targeta o en efectivo en puntos de pago.¡Y siempre es seguro!</p>
                    
                    </section>
                    <section>
                    <div class="iconos" id="envio"><i class="fa-solid fa-gift"></i></div>
                        <!--texto 2-->
                        <h2>Envios gratis desde $2.500</h2>
                        <p>Solo por estar registrad@ en Mercado Libre tenes envios gratis en miles de productos. Es un benefisio de Mercado Puntos.</p>
                    
                    </section>
                    <section>
                    <div class="iconos"><i class="fa-solid fa-user-shield"></i></div>
                        <!--texto 3-->
                        <h2>Seguridad, de principio a fin</h2>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, por que estas siempre protegid@.</p>
                        <br>
                        <p>Copyright c 1999-2020 MercadoLibre S.R.L.</p>
                
                    </section>
                    
                </article>
            </footer>
                <img src="../public/images/img-home-banner.jpg">
    </body>
</html> 